@function em($target, $context: 18px) {
  @return ($target/$context) * 1em;
}
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

.options {
  font-family: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;
  background: #292b2f;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  @include e(day-night) {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  button {
    &:hover,
    &.active {
      color: #40af93;
    }
  }
}

.home-link {
  padding: em(8px);
  background: #40af93;
  color: #292b2f;
  letter-spacing: 3px;
  max-width: 500px;
}
.active-home {
  background: inherit;
  color: inherit;
  padding: 0;
  max-width: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  fill: #d7d5d9;
  &:hover {
    color: #d7d5d9;
  }
  &.active {
    color: #40af93;
    fill: #40af93;
  }
}
