@function em($target, $context: 18px) {
  @return ($target/$context) * 1em;
}

.main-nav {
  font-family: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;
  background: #292b2f;
  width: 100%;
  height: em(70px);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  a {
    font-size: em(24px);
    text-decoration: none;
    color: #d7d5d9;
    fill: #d7d5d9;
    &:hover,
    &.active {
      color: #40af93;
      fill: #40af93;
    }
  }
}
