// font stacks
// $font-url--google: "https://fonts.googleapis.com/css?family=Lato|Oswald:400,700";
$font-family--primary: "Oswald", Impact, "Franklin Gothic Bold", sans-serif;
// $font-family--secondary: "Lato", "Trebuchet MS", sans-serif;

// font weights
$font-weight--regular: 400;
$font-weight--bold: 700;

//descriptive color variables
$white: #fff;
$waikawa-gray: #577399;
$spindle: #bdd5ea;
$persimmon: #fe5f55;
$mercury: #e3e3e3;
$ebony-clay: #233142;
$bright-grey: #384047;
$keppel: #40af93;
$mischka: #d7d5d9;
$shark: #292b2f;
$teal: #018185;

// functional color variables
$color-primary: $keppel;
$color-secondary: $mischka;
$color-tertiary: $shark;

$color-bg-light: $mischka;
$color-bg-base: $keppel;
$color-bg-dark: $shark;

$color-text-light: $mischka;
$color-text-base: $keppel;
$color-text-dark: $shark;

$color-text-caption: $mischka;

$color-text-link--default: $color-text-light;
$color-text-link--active: $color-primary;

$color-boxshadow: rgba(0, 0, 0, 0.8);
// button colors
$btn--primary--bg: $color-tertiary;
$btn--secondary--bg: $color-primary;
$btn--primary--color: $color-secondary;
$btn--secondary--color: $color-tertiary;

// text
$base__font-size: 18px;
$title__font-size: 128px;
$caption__font-size: 72px;
$base__line: 28px;
$letter-spacing-less: 1px;
$letter-spacing-default: 2px;
$letter-spacing-more: 3px;

// border radius
$br--default: 0.3em;
$br--round: 50%;

// breakpoints
$brkpoint--sm: 480px;
$brkpoint--md: 768px;
$brkpoint--lg: 1024px;
$brkpoint--xl: 1440px;

// grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1400px;
