// breakpoints
$brkpoint--sm: 480px;
$brkpoint--md: 768px;
$brkpoint--lg: 1024px;
$brkpoint--xl: 1440px;

// grid
$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1400px;
