.options {
  height: em(35px);
  width: 100%;
  @include flex(flex, row, space-between, center);
  @include e(lang) {
  }
  @include e(day-night) {
    @include flex(flex, row, space-between, center);
  }
  button {
    &:hover,
    &.active {
      color: $color-text-link--active;
    }
  }
}

.home-link {
  padding: em(8px);
  background: $color-bg-base;
  color: $color-text-dark;
  letter-spacing: $letter-spacing-more;
  max-width: 500px;
  &:hover {
    color: $color-text-light;
  }
}
.active-home {
  background: inherit;
  color: inherit;
  padding: 0;
  max-width: 0;
  overflow: hidden;
}
