.projects {
  @include e(buttons) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex(flex, row, space-between, center);
    @include mq(medium) {
      bottom: 50%;
    }
    @include mq(large) {
      left: 10%;
      right: 10%;
    }
  }
}

.project {
  width: 100%;
  @include mq(medium) {
    max-width: 768px;
    width: 80%;
  }
  margin: 0 auto;
  @include e(image) {
    padding: 0;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
  @include e(bar) {
    background: $color-bg-dark;
    color: $color-text-dark;
    letter-spacing: $letter-spacing-more;
    @include flex(flex, row, space-between, center);
    span {
      padding: em(8px);
      background: $color-bg-base;
    }
  }
  @include e(links) {
    margin-right: em(8px);
    a {
      margin-left: em(16px);
    }
  }
  @include e(info) {
    background: $color-bg-dark;
    padding: em(16px);
  }
  @include e(desc) {
    margin: 0;
  }
}
